<!DOCTYPE html>
<html>
    <head>
        <title>Marathon Training Plan</title>
        <style>
            body {
            font-family: Arial, sans-serif;
            font-size: 12px;  
            }
            
            h1, h2, h3 {
            text-align: center; 
            }
            
            .section {
            padding: 10px;
            page-break-before: always; 
            }
        </style>
    </head>
    <body>
        <div class="section">
            <h1>MARATHON TRAINING PLAN</h1>
            <h2>15 WEEKS</h2>
            <h3>LEVEL 5 / ADVANCED PLUS</h3>
            <p>
                Welcome to the community and well done on taking that first step to becoming a better, faster and stronger runner! We're here to help you with your journey to get you where you want to be.
            </p>
            <p>
                By downloading this plan you agree to the terms and conditions which can be found on www.example.com/pages/terms-and-conditions. Please ensure you have read these fully before starting this plan.
            </p>
        </div>
        <div class="section">
            <h2>GLOSSARY</h2>
            <h3>PACES</h3>
            <p>Refer to the pace chart for suggested paces for your goal.</p>
            <p>
                <strong>Easy Pace</strong>
            </p>
            <p>You should feel like you could easily hold a conversation with someone at this pace.</p>
            <p>
                <strong>Marathon Pace</strong>
            </p>
            <p>
                It’s important to practice what your goal race pace feels like so by the time race day rolls around it will be second nature!
            </p>
        </div>
    </body>
</html>
